@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito Sans";
  color: white;
}

body {
  margin: 0;
}

#app {
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: hsl(209, 23%, 22%);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
}

.header-title {
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  margin-left: 100px;
}

.dark-light-mode {
  background-color: transparent;
  border: none;
  margin-right: 100px;
}

.body {
  background-color: hsl(207, 26%, 17%);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-search {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.body-search > * {
  border-radius: 5px;
}


#search {
  width: 500px;
  height: 50px;
  background-color: hsl(209, 23%, 22%);
  border: none;
  margin-top: 80px;
  margin-left: 100px;
  padding-left: 100px;
  position: relative;
}


.fa-search{
    font-size: 20px;
    position: absolute;
    top: 195px;
    left: 145px;
    color: white;
    z-index: 2;
}

#search::placeholder{
    color: white;
    font-size: 16px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin-top: 80px;
  margin-right: 100px;
  background-color: hsl(209, 23%, 22%);
  padding-left: 20px;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  display: none;
}

.dropdown-list-item:not(:last-child) {
  padding-bottom: 8px;
}

.body-content {
  margin: 0;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.country {
  background-color: hsl(209, 23%, 22%);
  margin-bottom: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
}

.country > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 50%;
}
